.shopcategory_banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory_indexSort{
display: flex;
margin: 0px 170px;
justify-content: space-between;
align-items: center;
}
.shopcategory_sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory_indexSort p span{
    font-weight: 600;
}
.shopcategory_product{
     margin: 20px 136px;  /* 170px */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory_loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:1280px){
    .shopcategory_banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory_indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory_sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory_indexSort p{
        font-size: 12px;
    }
    .shopcategory_product{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory_product .item{
        margin: auto;

    }
    .shopcategory_loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .shopcategory_banner{
        width: 95%;
    }
    .shopcategory_product{
        width: 95%;
    }
       .shopcategory_loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
@media(max-width:500px) {
.shopcategory_product{
    grid-template-columns: 1fr 1fr;
}
}